<div class="background">
    <div class="banner-section">
      <div class="banner">
        <img class="banner-image" src="assets/players.png" alt="player" />
      </div>
      <div class="banner">
        <img class="ipl-image" src="assets/tata-ipl-logo.png" alt="tataIPL" />
  
        <h2 class="second-heading">Download the official App Fantasy App</h2>
  
        <button routerLink="/login">Go to Login</button>
  
      </div>
    </div>
  </div>
  <div class="main">
    <h1 class="main-title">
      Its easy to start playing <span class="red">Fantacy cricket</span>
    </h1>
    <h4 class="second-title">play fantacy cricket dream big win big!</h4>
    <h5>
      Enter into the thrilling world of Fantasy sports, a strategy based online
      sports game wherein you can create a virtual team of real players playing
      in real life matches. Choose your team smartly to win good points based on
      the player's performance in a live game. Fantacy app is one of the leading
      fantasy cricket sites for Indian sports fans.
    </h5>
  
    <div class="card-parent">
      <div class="card">
        <h2>select a match</h2>
        <p>choose upcoming a matches to play</p>
      </div>
  
      <div class="card">
        <h2>Create team</h2>
        <p>use your skills to pick right players</p>
      </div>
  
      <div class="card">
        <h2>Join contest</h2>
        <p>choose different contest and win money</p>
      </div>
    </div>
  </div>
  
  <footer>
    <div class="container">
      <p>&copy; 2023 sagar Fantacy App. All rights reserved</p>
    </div>
  </footer>
  