<div class="photo-login">
    <div class="section1">
      <img src="assets/rohitsharma.png" alt="player::ROHITSHARMA">
    </div>
    <form>
      <label for="mobile">Email or mobile no.</label>
      <input type="tel" id="mobile" name="mobile" required>
  
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>
  
      <label class="label" for="remember">
        <input type="checkbox" id="remember" name="remember"> I certify that I am above 18 years.
      </label>
  
      <button><a href="homepage.html">Next</a></button>
      <p>Not a member?</p>
      <p><a href="register.html" class="a">Register</a></p>
    </form>
  </div>
  
